@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&family=JetBrains+Mono:wght@400;700&display=swap");
@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background: black;
}

.font-mono {
  font-family: "JetBrains Mono", monospace;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 0.6;
    transform: translateY(0);
  }
}
.animate-fade-in {
  animation: fadeIn 1.2s ease-out forwards;
}

@keyframes pulseSlow {
  0%,
  100% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }
}
.animate-pulse-slow {
  animation: pulseSlow 4s ease-in-out infinite;
}
